@font-face {
  font-family: 'Super-Blog-Pack';
  src:  url('fonts/Super-Blog-Pack.eot?u5ccty');
  src:  url('fonts/Super-Blog-Pack.eot?u5ccty#iefix') format('embedded-opentype'),
    url('fonts/Super-Blog-Pack.ttf?u5ccty') format('truetype'),
    url('fonts/Super-Blog-Pack.woff?u5ccty') format('woff'),
    url('fonts/Super-Blog-Pack.svg?u5ccty#Super-Blog-Pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sbp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Super-Blog-Pack' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sbp-thumbs-down:before {
  content: "\e8db";
}
.sbp-thumbs-up:before {
  content: "\e8dc";
}
.sbp-bookmark:before {
  content: "\e900";
}
.sbp-bookmark2:before {
  content: "\e901";
}
.sbp-bookmark-add:before {
  content: "\e902";
}
.sbp-bookmark-add2:before {
  content: "\e903";
}
.sbp-bookmark-remove:before {
  content: "\e904";
}
.sbp-bookmark-remove2:before {
  content: "\e905";
}
.sbp-star:before {
  content: "\f005";
}
.sbp-star-o:before {
  content: "\f006";
}
.sbp-eye:before {
  content: "\f06e";
}
.sbp-comment:before {
  content: "\f0e5";
}
.sbp-comments:before {
  content: "\f0e6";
}
.sbp-clock:before {
  content: "\e94e";
}
.sbp-bell:before {
  content: "\e951";
}
.sbp-google-plus:before {
  content: "\ea8b";
}
.sbp-facebook:before {
  content: "\ea90";
}
.sbp-twitter:before {
  content: "\ea96";
}
.sbp-vine:before {
  content: "\ea97";
}
.sbp-vk:before {
  content: "\ea98";
}
.sbp-rss:before {
  content: "\ea9b";
}
.sbp-rss2:before {
  content: "\ea9c";
}
.sbp-reddit:before {
  content: "\eac6";
}
.sbp-linkedin:before {
  content: "\eaca";
}
.sbp-delicious:before {
  content: "\eacd";
}
.sbp-stumbleupon:before {
  content: "\eace";
}
.sbp-pinterest:before {
  content: "\ead1";
}
